/*
Pantones:
RojoClaro:#ff7777
RojoOscuro:# cd2813
*/

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  background-image: url('https://res.cloudinary.com/dhd9jgrw3/image/upload/v1586688460/drivers/background/background-metalic_o0lbmq.jpg');
  height: 100vh;
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
}

/* HOME */

.App-Logo {
  width: 30%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* START NAV */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* HEADER */
#main-header {
  background: #000;
  text-align: center;
  position: fixed;
  margin-bottom: 50px;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
}

/* LOGO - H1 */
.image-nav {
  max-height: 40px;
  align-self: center;
  cursor: pointer;
}

/* Hamburguer */
.nav-toggle {
  display: none;
}
/* Styling the Hamburguer */
.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #fff;
  height: 3px;
  width: 30px;
  border-radius: 2px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 10px;
}
.nav-toggle-label span::after {
  top: 10px;
}

#nav-toggle:checked ~ .nav-toggle-label span {
  background: #ff7777;
}

#nav-toggle:checked ~ .nav-toggle-label span::before {
  transform: rotate(45deg);
  bottom: 0;
  background: #fff;
}

#nav-toggle:checked ~ .nav-toggle-label span::after {
  transform: rotate(-45deg);
  top: 0;
  background: #fff;
}

#menu {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  text-align: right;
  top: 100%;
  left: 0;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.4s ease-in-out;
}

#menu ul {
  list-style: none;
}

#menu li {
  padding: 10px 10px;
}

#menu a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

#menu a:hover {
  color: #ff7777;
}

#nav-toggle:checked + #menu {
  transform: scale(1, 1);
}
#nav-toggle:checked ~ #menu a {
  opacity: 1;
  transition: opacity 0.25s ease-in-out 0.35s;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  #main-header {
    border-bottom: 2px solid #ff7777;
  }

  #main-header .container {
    display: flex;
  }

  #main-header #logo {
    flex: 1;
  }

  #menu a {
    opacity: 1;
  }

  #menu {
    all: unset;
    flex: 2;
  }

  #menu ul {
    display: flex;
    align-items: center;
    height: 100%;
  }

  #menu li {
    margin: auto;
  }
}

/* END NAV */
.button {
  background-color: #000;
  padding: 10px 40px !important;
  margin: 20px 10px !important;
  border-radius: 10px;
  border: 1px solid #cd2813;
  font-size: 20px !important;
  box-sizing: border-box;
  color: #cd2813;
  text-align: center;
  font-family: 'Roboto', verdana, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  width: 45%;
}
.button:hover {
  background-color: #cd2813;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #cd2813, 0 0 25px #cd2813, 0 0 50px #cd2813, 0 0 100px #cd2813;
}

.container-center {
  display: flex;
  justify-content: center;
}

/* START LOGIN */

.size-image {
  max-height: 60px;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h3 {
  margin: 0 0 30px;
  padding: 0;
  color: #f1eee6;
  text-align: center;
  font-size: 30px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #f1eee6;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #f1eee6;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #f1eee6;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0px;
  color: #cd2813;
  font-size: 15px;
}

.login-box form a {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  color: #cd2813;
  font-size: 15px;
  text-decoration: none;
  overflow: hidden;
  transition: 1s;
  margin-top: 20px;
  margin-bottom: 40px;
  letter-spacing: 2px;
  cursor: pointer;
}

.login-box form a:hover {
  background: #cd2813;
  color: #f1eee6;
  border-radius: 5px;
  box-shadow: 0 0 5px #cd2813, 0 0 25px #cd2813, 0 0 50px #cd2813, 0 0 100px #cd2813;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #cd2813);
  animation: btn-anim1 2s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #cd2813);
  animation: btn-anim2 2s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box span:nth-child(3) {
  bottom: 0;
  tight: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #cd2813);
  animation: btn-anim3 2s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #cd2813);
  animation: btn-anim4 2s linear infinite;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/* END LOGIN */

/* LOADING */
.loading {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 300px;
}
/* END LOADIN */

/* CARD PILOT */

.card-pilot {
  display: flex;
  flex-direction: row;
  background: rgb(173, 173, 173);
  border: 1px solid #424242;
  border-radius: 3px;
  box-shadow: 12px 10px 17px -2px rgba(0, 0, 0, 0.57);
}

.pilot-image {
  width: 40%;
  display: flex;
  align-items: center;
}

.pilot-image img {
  width: 100%;
}

.pilot-data {
  width: 60%;
  padding: 25px;
  color: #000;
}

.pilot-data ul li {
  list-style-type: none;
  text-align: left;
}
.pilot-data ul {
  padding: 0;
}

.car-image {
  width: 100%;
}

@media (max-width: 799px) {
  .card-pilot {
    flex-direction: column;
  }
  .card-market,
  .pilot-image,
  .button {
    width: 100%;
  }

  .pilot-data {
    width: 92%;
    padding: 4%;
  }

  .button {
    margin: 15px 0px 0px !important;
  }
}
/* END CARD PILOT */

/* CARD CIRCUIT */
.card-circuit {
  display: flex;
  flex-direction: row;
  background: rgb(255, 255, 255);
  border: 1px solid #424242;
  border-radius: 3px;
  box-shadow: 12px 10px 17px -2px rgba(0, 0, 0, 0.57);
}
@media (max-width: 799px) {
  .card-circuit {
    flex-direction: column;
  }
}
/* END CARD CIRCUIT */

/* START CARD MARKET */
.section-market {
  padding: 150px 250px 50px 250px;
  background-color: rgb(15, 15, 15);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-market {
  width: 48%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 799px) {
  .section-market {
    padding: 100px 35px 50px 35px;
    flex-direction: column;
  }
  .card-market {
    width: 100%;
  }
}
/* END CARD MARKET */

/* START FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 36, 36);
  height: 60px;
  bottom: 0;
  width: 100%;
  margin: 0;
  left: 0;
  letter-spacing: 2px;
  font-size: 13px;
}

.footer p {
  max-width: 50vh;
  color: #fff;
}

.footer img {
  max-width: 40px;
}

.footer a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.footer a:hover {
  color: #ff7777;
}

/* END FOOTER */

/* STAR TEAMS */

/* END TEAMS */
